*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html { height: 100% ;}

body {font-family: 'Poiret One', cursive;}

.container {
    display: grid;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: auto auto auto;
}

/* nav bar section */

nav {
    grid-column: 1/15;
    grid-row: 1/2;
    background:#323333;
}

.ham-icon {display: none; color: #FFFF}

.nav-bar > ul {list-style: none;}

.nav-bar a { color: white; text-decoration: none;}

.nav-bar li {display: inline;}

.nav-bar {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    padding: 2vh 7.2%;
    font-size: 1.5rem;

}

.nav-links li {padding: 0 0 0 1.8rem;}

#brand-name {color: #FEFFD6; font-size: 1.8rem;
}

#brand-logo {grid-column: 2/6; grid-row: 2/3;}

#logo1 {display: block; width: 70%;}

.logo-container {padding: 40% 0 0 0;}

/* middle section */

#photo-gallery {
    margin-top: 7vh;
    grid-column: 6/14;
    /* border: 1px solid black; */
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 3px 6px #00000028; 
}

.btn-box { display: none;}

.arw {display: block; margin: auto; width: 40%;}

.pic {
    max-height: 60vh;
    display: block;
    margin: 0 auto;
    /* overflow: hidden; */
}

.frame {
    height: auto;
    max-height: 60vh;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.btn {
    display: inline-block;
    width: 10%;
    padding: 200px 0;
}

/* footer section */

footer {
    padding-top: 15px;
    margin-top: 7vh;
    grid-column: 1/15;
    grid-row: 3/4;
    background: #131313;
    color: white;
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    font-family: 'Prompt', sans-serif;  
}

.follow-us {grid-column: 2/4;}

.contact-us {grid-column: 5/7; }

footer ul {list-style: none;}

footer a {
    text-decoration: none;
    color: white;
    display: block;
}

footer ul li {margin: 10px 0; }

footer span {
    display: inline-block;
    margin: auto 0;
}

footer img {width: 10%; display: inline-block;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin: .4em 0;
}

.social-link a {margin: 0 0 0 7px; font-size: 1em;}

.footer-links h2 {font-size: 2em;}

/* breakpoints:

width - 769px - 1100px : tablet view

width - 767 and below: mobile view

*/
/* --------------------------------------------------- */
@media screen and (max-width: 767px) {

    .container {
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: auto auto auto auto;
    }

    

    /* NAV BAR AREA */
    nav {
        display: grid;
        grid-column: 1/9;
        grid-template-columns: repeat(8,1fr);
    }

    .nav-bar {
        grid-column: 2/8;
       flex-direction: row;
       padding: 1.5rem 0;
       flex-wrap: wrap;
       align-items: center;
    }

    .nav-links {
        display: none;
    }

    .nav-links li {padding: 0; display: list-item;}

    .nav-links li a {
        display: block;
        padding: 3% 0;
    }

    .nav-links li a:hover {
        background: #c4fcfc1a;
    }

    .ham-icon {
        display: inline-block;
        margin-bottom: 4%;
        
    }

    .ham-icon h1 {
        display: inline-block;
        padding: .5px 5.5px;
        border: 3px solid #707070;
        cursor: pointer;
    }

    .burgerMenu {
        display: block;
        width: 100%;
        border-top: 5px inset #ffffffde;
    }

    /* LOGO SECTION */

    /* ---------------------------------------- */

    #brand-logo {grid-column: 1/9;}

    .logo-container {padding: 10% 0;}

    #logo1 { margin: 0 auto;  }

    /* PHOTO-GALLERY section*/
    /* ------------------------------------------ */

    #photo-gallery {
        grid-column: 2/8;
        grid-row: 3/4;
        width: 100%;
        margin: 0;
        padding: 0 5px;
        flex-direction: column;
        margin-bottom: 10%;
        height: auto;
        
        /* display: none;  */
    }

    .btn {display: none;}

    .btn-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    .btn-box a {
        display: inline-block;
        width: 20%;
        margin: 0 10%;
        padding: 2% 0;
        /* width: 45%; */
    }

    .btn-img {
        display: block;
        width: 60%;
        margin: 0 auto;
        
    }

    .frame {
        width: 100%;
        /* padding: 0 10px; */
        overflow: hidden;
        /* margin: auto 5px; */
        max-height: fit-content;
        
        max-height: -moz-fit-content;
        height: auto;
        /* min-height: 60vh; */
    }

    .pic {
        max-height: fit-content;
        max-height: -moz-fit-content;
        height: auto;
        width: 90%;
    }


    /* FOOTER SECTION */

    footer {
        grid-row: 4/5;
        grid-column: 1/9;

        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .follow-us {
        grid-row: 1/2;
        grid-column: 2/8;
    }

    .contact-us {
        grid-row: 2/3;
        grid-column: 2/8;
    }

    .contact-us, .follow-us {
        margin: 5% 0;
    }

    footer img {width: 5%;}

    .social-link a {margin-left: 4%; font-size: 1.2em;}

}

